<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mys3soft.mys3chat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityMain"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityLogin"
            android:noHistory="true"
            android:launchMode="singleTop" />
        <activity android:name=".ActivityRegister"   />
        <activity android:name=".ActivityProfile" />
        <activity android:name=".ActivityChat"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"    />
        <activity android:name=".ActivityAddContact"  />
        <activity android:name=".ActivityFriendProfile"  />
        <activity android:name=".ActivityNotifications"   />

        <service
            android:name=".AppService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />

        <receiver
            android:name=".AppReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mys3soft.mys3chat.restartservice" />
            </intent-filter>
        </receiver>


    </application>

</manifest>